<h1>Feed</h1>

<div class='center'>
  <% @feeds.each do |f| %>
    <fieldset>
      <%= f.created_at.strftime("%a %B %d, %Y") %><br>
      <%= f.feed_time %><br>
      <%= f.amount %> ounces
    </fieldset>
    <br>
  <% end %>

  <%= render partial: 'form' %>

  <br><br>
  <%= link_to 'Back', user_index_path %>
</div>
