<div class='center'>
  <%= form_for @pump, url: { action: 'create' } do |f| %>
    <%= f.label :time, 'Pump Time:' %>
    <%= telephone_field_tag :time, '', value: get_time, class: 'date_field', oninput: 'TimeInputChange()' %>
    <%= select_tag :cycle, options_for_select(['AM', 'PM'], 'PM') %>
    <br>
    <%= f.label :amount, 'Amount:' %>
    <%= f.number_field :amount, step: :any %>
    <br>
    <%= f.submit 'Log'%>
  <% end %>
</div>
