<div class='center'>
  <%= form_for @diaper_change, url: { action: 'create' } do |f| %>
    <%= f.label :time, 'Diaper Change Time:' %>
    <br>
    <%= telephone_field_tag :time, '', value: get_time, class: 'date_field', oninput: 'TimeInputChange()', required: true %>
    <%= select_tag :cycle, options_for_select(['AM', 'PM'], 'PM') %>
    <br>
    <%= f.label :diaper_type, 'Type of Diaper Change:' %>
    <% diaper_types = %w[ Poop Pee ] %>
    <br>
    <% diaper_types.each do |diaper| %>
      <%= f.check_box :diaper_type, { multiple: true }, diaper, false %>
      <%= f.label :diaper, diaper %>
      <br>
    <% end %>
    <br>
    <%= f.submit 'Log'%>
  <% end %>
</div>
