<div class='center'>
  <%= form_for @diaper_change, url: { action: 'create' } do |f| %>
    <%= f.label :change_time, 'Diaper Change Time:' %>
    <%= f.time_select :change_time, { ampm: true } %>
    <br>
    <%= f.label :diaper_type, 'Type of Diaper Change:' %>
    <% diaper_types = %w[ Poop Pee ] %>
    <br>
    <% diaper_types.each do |diaper| %>
      <%= f.check_box :diaper_type, { multiple: true }, diaper, false %>
      <%= f.label :diaper, diaper %>
      <br>
    <% end %>
    <br>
    <%= f.submit 'Log'%>
  <% end %>
</div>
